header{

  h1{

    font-size: 18px;
    font-weight: 700;

    margin-top: 30px;
    margin-left: 50px;

    a{

      color: black;

    }

    a:hover{

      color: $blue;

    }

  }



  img{

    display: flex;
    margin: 20px auto 80px;

  }

}

.filterButtons{

  max-width: 660px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;

}

.containerTemplate{

  display: flex;
  flex-wrap: wrap;
  max-width: 890px;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;

  .character{

    position: relative;
    margin-bottom: 30px;

    img{

      width: 200px;
      height: 200px;
      border-radius: 3px;
      -webkit-filter: brightness(100%);

    }

    h2{

      position: absolute;
      z-index: 1;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      top: 0;
      font-size: 18px;

      color: white;
      font-weight: 700;
      visibility: hidden;

      transition: transform 0.3s;

    }

  }

  .character:hover{

    h2{

      visibility: visible;

    }

    img{

      -webkit-filter: brightness(50%);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      transition: all 0.25s ease;

    }

  }

}

.backButtons{

  max-width: 430px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;

}

footer{

  background: linear-gradient(90deg, #C1DA51 0%, #00B0C8 100%);
  color: white;
  font-size: 16px;
  font-weight: 700;

  div{

    padding-top: 50px;
    padding-bottom: 30px;

    max-width: 890px;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
    line-height: 28px;


    a{

      color: white;
      text-decoration: underline;

    }

  }

}
